Wordpress : 
Silence is golden
DataBase : 
userName : admin
password : 1WD*ruvLCKca0u4ju#


yrxoqs
tDhIltp*2xcoPI#Kknm$J2ml

yrxoqs
zerjqe
zfWH$7T3H@6@9X5(
zfWH$7T3H@6@9X5(@#%F@GS

admin
D!RMX=GURQ$_;(ZAX%
$P$BUOH0BVmVZ9KtcM.0bs46BkQIa1ZWC1


zfWH$7T3H@6@9X5(@#%F@GS
zfSGR@S3H@6@9X!@#DSA4%22


zfSGR@S3H@6@9X!@#DSA4%22

website : Information needed

site title : transtek
user name : trans_admin
password :  J^TsFwn6@#@!#asD2d3OaWd5$
your email : m.alkhabaz@transtek.com

accout ftp 
userName : uawy88av6wem2
password : hp55Pf2ydxSAONBSfezO

public_html/transtek-systems.com/
uawy88av6wem/public_html/transtek.com

 define('WP_DEBUG_LOG', true);
define('WP_DEBUG_LOG', dirname(__FILE__) . '/myerror.log');



delete all files Injected : 
delete all domains : 
