.sidebar{
    width: 25%;
    background: rgb(207 207 207 / 42%);
    height: calc(100vh - 140px);
}

.sidebar ul {
    list-style: none;
    padding: 5px;
    text-align: center;
}

.sidebar  li a {
    display: block;
    color: #333;
    padding: 7px;
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration: none;
}