body {
  margin: 0;
  font-family: "Almarai", sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 5% 0;
}

.rectangle {
  background: rgba(202, 202, 202, 0.644);
  height: 400px;
  font-size: 14px;
  box-shadow: 1px 1px 1px rgb(1, 128, 1);
}

.pic {
  width: 6%;
  height: 10%;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgb(16 4 4);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
